{% extends "base.html" %}
{% block content %}
    <div id="breadcrumbs-wrapper">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <h5 class="breadcrumbs-title">Tipos de Gasto</h5>
        <ol class="breadcrumbs ">
          <li><a href="/cpanel/" class="deep-purple-text">Principal</a></li>
          <li class="active">Mis Tipos de Gasto</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="section">

      <sub> Tipos de Gasto Disponibles 1/5</sub>

    <div id="task-card" class="collection with-header">
      <table class="bordered" >
        <thead class="texto-titulo-tabla">
          <tr>
            <th>Tipo de Gasto</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td>GASTO CASA 1</td>
            <td class="right">
              <a href="/cpanel/tipo_gasto_update/10" class="btn-floating waves-effect waves-light color-editar"><i class="mdi-image-edit"></i></a>
              <a href="/cpanel/tipo_gasto_delete/10" class="btn-floating delete waves-effect waves-light color-borrar"><i class="mdi-action-delete"></i></a>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Floating Action Button -->
<div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
  <a class="btn-floating btn-large" href="{% url 'gastos:tipo-gasto' %}">
    <i class="mdi-content-add"></i>
  </a>
</div>
{% endblock %}